@import '../../variables.scss';


.logo{

    margin-top: 8px;
    margin-left: 8px;
    max-height: 5.5em;
    height: 80%;
    width:auto;

}

a{

    &:hover{
        background-color: #b34b4b88 !important;
        color: black !important;
    }

    &.active{
        background-color: #610505 !important;
        color: white !important;
    }
    
}
