@import '../../variables.scss';

.footer-container{
    background-color: $primary-color;
    width:100%;
    padding: 2%;

    text-align: center;
    

    .footer-content{
        color: white;


        .footer-title{
            font-size: large;
        }

        .footer-info{
            margin-top: 5px;
            justify-content: center;
            display: flex;
            flex-direction: row;
            a{
                margin-right: 5px;
                margin-left: 5px;
            }
        }
    }
}