<div id="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="17">0</div>
                    <span>Berufserfahrung (Jahre)</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="96">0</div>
                    <span>Bisher betreute Kinder</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="118">0</div>
                    <span>Belegte Schulungen</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="16">0</div>
                    <span>Sonstige Qualifikationen</span>
                </div>
            </div>
        </div>
    </div>
</div>