
            <div id="blog" class="page-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <h4>Neuigkeiten</h4>
                                <div class="line-dec"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-item b1">
                                <div class="thumb">
                                    <img  src="img/urlaubsplan.jpg" alt="">
                                    <div class="text-content">
                                        <h4>Der neuer Urlaubsplan ist da</h4>
                                        <span>Posted: <em>Eva Finkbeiner</em>  /  Date: <em>11 Aug 2017</em>  /  Category: <em>Urlaubsplan</em></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-item second-blog b2">
                                <div class="thumb">
                                    <img src="img/unterwegs.jpg" alt="">
                                    <div class="text-content">
                                        <h4>Unterwegs mit den Kindern</h4>
                                        <span>Posted: <em>Eva Finkbeiner</em>  /  Date: <em>24 Jul 2017</em>  /  Category: <em>Bild</em></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-item b3">
                                <div class="thumb">
                                    <img src="img/basteln_1.jpg" alt="">
                                    <div class="text-content">
                                        <h4>Bastelnachmittag mit den Kindern</h4>
                                        <span>Posted: <em>Eva Finkbeiner</em>  /  Date: <em>16 Jul 2017</em>  /  Category: <em>Bild</em></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pop">
                              <span>✖</span>
                              <br/>
                              <img src="img/urlaubsplan.jpg" alt="">
                            </div>
                            <div class="pop2">
                              <span>✖</span>
                              <br/>
                              <img width="1000px" src="img/unterwegs.jpg" alt="">
                            </div>
                            <div class="pop3">
                              <span>✖</span>
                              <br/>
                              <img width="1000px" src="img/basteln_1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>