<div id="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-text">
                    <h4>Eva Finkbeiner</h4>
                    <p>Ehemalige Krankenschwester...</p>
                    <ul>
                        <li>
                            <div class="white-button">
                                <a href="#portfolio" class="scroll-link" data-id="portfolio">Mehr</a>
                            </div>
                        </li>
                        <li>
                            <div class="primary-button">
                                <a href="#footer">Termin vereinbaren</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="img/person.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>