<section class="cd-hero">
    <ul class="cd-hero-slider autoplay">  
    <!-- 
        <ul class="cd-hero-slider autoplay"> for slider auto play 
        <ul class="cd-hero-slider"> for disabled auto play
    -->
        <li class="selected first-slide">
            <div class="cd-full-width">
                <div class="tm-slide-content-div slide-caption">
                    <span>Willkommen bei</span>
                    <h2>Kindertagespflege Nounou</h2>
                    <div class="primary-button">
                        <a href="#" class="scroll-link" data-id="about">Mehr...</a>
                    </div>                           
                </div>                   
            </div> <!-- .cd-full-width -->
        </li>

        <li class="second-slide">
            <div class="cd-full-width">
                <div class="tm-slide-content-div slide-caption">
                    <span>Tagesmutter</span>
                    <h2>Eva Finkbeiner</h2>
                    <div class="primary-button">
                        <a href="#" class="scroll-link" data-id="about">Mehr...</a>
                    </div>                        
                </div>                     
            </div> <!-- .cd-full-width -->
        </li>

        <li class="third-slide">
            <div class="cd-full-width">
                <div class="tm-slide-content-div slide-caption">
                    <span>Qualifizierte</span>
                    <h2>Kindertagespflege</h2>
                    <p>Kinder von 0 bis 3 Jahre</p>
                    <div class="primary-button">
                        <a href="#" class="scroll-link" data-id="about">Mehr...</a>
                    </div>                           
                </div>                         
            </div> <!-- .cd-full-width -->
        </li>
    </ul> <!-- .cd-hero-slider -->

    <div class="cd-slider-nav">
        <nav>
            <span class="cd-marker item-1"></span>
            
            <ul>
                <li class="selected"><a href="#0"></a></li>
                <li><a href="#0"></a></li>
                <li><a href="#0"></a></li>                        
            </ul>
        </nav> 
    </div> <!-- .cd-slider-nav -->
</section> <!-- .cd-hero -->
