<!-- <div id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Was wir machen</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#about" style="color:black;text-decoration:none;"><div class="service-item first-service">
                    <div class="icon"></div>
                    <h4>Tagesablauf</h4>
                    <p>Klicken Sie hier für mehr Informationen.</p>
                </div></a>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#about" style="color:black;text-decoration:none;"><div class="service-item second-service">
                    <div class="icon"></div>
                    <h4>Basteln & Malen</h4>
                    <p>Klicken Sie hier für mehr Informationen.</p>
                </div></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#about" style="color:black;text-decoration:none;"><div class="service-item third-service">
                    <div class="icon"></div>
                    <h4>Eingewöhnungsphase</h4>
                    <p>Klicken Sie hier für mehr Informationen.</p>
                </div></a>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#about" style="color:black;text-decoration:none;"><div class="service-item fourth-service">
                    <div class="icon"></div>
                    <h4>Konzeption</h4>
                    <p>Klicken Sie hier für mehr Informationen.</p>
                </div></a>
            </div>
        </div>
    </div>
</div> -->

<div id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Was wir machen</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="blog-item b1">
                  <a style="text-decoration: none; color:black;" href="/tagesablauf">
                    <div class="service-item first-service">
                        <div class="icon"></div>
                        <h4>Tagesablauf</h4>
                        <p>Klicken Sie hier für mehr Informationen.</p>
                    </div>
                  </a>
                  </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="blog-item b2">
                  <a style="text-decoration: none; color:black;" href="/bastelnundmalen">
                    <div class="service-item second-service">
                        <div class="icon"></div>
                        <h4>Basteln & Malen</h4>
                        <p>Klicken Sie hier für mehr Informationen.</p>
                    </div>
                  </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="blog-item b3">
                  <a style="text-decoration: none; color:black;" href="/eingewoehungsphase">
                    <div class="service-item third-service">
                        <div class="icon"></div>
                        <h4>Eingewöhnungsphase</h4>
                        <p>Klicken Sie hier für mehr Informationen.</p>
                    </div>
                  </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="blog-item b3">
                  <a style="text-decoration: none; color:black;" href="/konzeption">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <h4>Konzeption</h4>
                        <p>Klicken Sie hier für mehr Informationen.</p>
                    </div>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>