@import '../variables.scss';

.custom-sidenav{

    margin-left: 7rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    li{
        display: block;
        padding: 0.4rem;
        min-width: 10rem;
        margin-bottom: 3px;
        cursor: pointer;
        &:hover{
            color: grey;
        }
        &.active{
            border-left: 3px solid;
            border-color: $primary-color;
        }
    }
}