/* COLORS */
$primary-color: rgb(97, 5, 5);
$secondary-color: #4f4f4f;

/* TEXT */
$text-size: 12.5px;
$text-color: rgb(74,74,74);
$text-style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


*{
    font-family: $text-style;
}
